// Place all the styles related to the api/session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 .session-form {
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   form {
     height: auto;
     width: 300px;
     background: rgba(241, 200, 200, 0.438);
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     flex-wrap: nowrap
   }
   label {
     padding: 10px;
     display: block;
   }
   input{
     width: 250px;
   }
   button {
     display: block;
     padding: 10px;
     margin: 20px;
   }
 }
 label, button, h2, input{
   color: black;
 }
