.chunk1 {
    margin-top: 5%;
    background-color:#F2FFF2;
    text-align:center;
    display: flex;
    top:50px;
}

.left {
    width: 50%;
    height: 100%;
    display: inline-block;
}

.right{
    width: 50%;
    height: 100%;
    display: inline-block;
}
.chunk1-img{
    max-width: 100%;
    max-height: 100%;
}