.loggedin-nav-bar{
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  flex-wrap: wrap;
  flex-basis: 100%;
}
.loggedin-nav-links{
    display: inline-flex;
    margin: auto 0 auto auto;
}
.loggedin-nav-link{
  padding-right: 20px;
}

.nav-bar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  justify-content: space-between;
  align-items: center;
  padding: 8px 45px 8px 55px;

}

.nav-bar img {
  height: 45px;
  width: 45px;
}

.nav-link {
  display: inline-block;
  width: 80px;
  margin-right: 20px;
  margin-left: 15px;
  color: #21ce99;
  font-size: 13px;
  font-family: "DIN Web", "Hiragino Sans GB", "Microsoft YaHei", "sans-serif";
  font-weight: bold;
  background-color: white;
  border-color: rgba(0, 0, 0, 1);
  border: none;
  cursor: pointer;
}

.nav-link:last-child {
  margin: 0;
}

.nav-link:hover {
  color: #1ae9aa;
}

.nav-link:focus {
  outline: none;
}

.search {
  background-color: white;
  display: inline-block;
  background-image: url('/images/searchicon.png');
  background-size: 25px 25px;
  width: 30%;
  margin: auto auto auto 30px;;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 16px;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}
.svg-logo{
  width: 25px;
  margin-left: 25px;
}

.logout{
  margin-right: 30px;
}
.flex{
  display: flex;
}