.transaction-form{
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    min-width: 275px;
    background-color: white;
    box-shadow: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: left;
    margin:0 0 auto 0;
    display: grid;
    justify-content: center;
    align-items: stretch;
    grid-template: repeat(6, 50px) / 135px 135px;
    * {
        align-self: center;
    }
}
[class*='item']{
    grid-column: 1 / span 2;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    display: flex;
    border-bottom: 1px solid black;
}
[class*='item']:last-child{
    border-bottom: none;
}
.item1{
    grid-row: 1 / span 1;
    border-bottom: 1px solid gray;
}
.item2{
    grid-row: 2 / span 1;
}
.item3{
    grid-row: 3 / span 1;
}
.item4{
    grid-row: 4 / span 1;
}
.item5{
    grid-row: 5 / span 1;
}
.item6{
    grid-row: 6 / span 1;
}
.tab-header{
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
}
.tab-header span{
    list-style: none;
    width: 50%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}
.tab-header span:hover, .buy-sell-selected{
    margin: auto 0;
    color: red;
    cursor: pointer;
    border-bottom: 1px solid red;
}
.left-label{
    width: 50%;
    justify-content: left;
    display: inline-block;
}
.share-input{
    width: 70px;
    height: 30px;
    justify-self: right;
    margin-right: 20px;
    text-align: right;
    background-color:rgb(250, 250, 250);
}
.share-input:hover, .share-input:focus{
    background-color: white;
}
.market-price{
}
.market-price-value{
    justify-self: right;
    margin-right: 20px;
}
.estimated{
}
.estimated-value{
    justify-self: right;
    margin-right: 20px;
}
.review-order-btn{
    margin:auto;
}
.product-hint{
    color: red;
    margin:auto;
}