.watchlist{
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    min-width: 275px;
    height: auto;
    list-style: none;
    text-align: left;
    li{
        padding: 10px;
    }
}
.watchlist li{
    border: 1px solid black;
}
.watchlist li a:hover{
    color: red;
}
.watchlist li div:first{
    padding-bottom: 5px 0;
}