@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
}
h1, li{
    color: black;
}
.button:hover, a:hover, button:hover{
    cursor: pointer;
}
  .header-nav-logo {
    margin: 0;
    display:flex;
    align-items: center;
    img{
        width: 50px;
    } 
  }
  .header-nav-logo:hover {
    opacity: 0.7;
  }
div a, li a {
    color: black;
}
.button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
}
.button:hover {
    background-color: rgba(0,136,169,0.8);
}
.margin-auto{
    margin:auto;
}
.color-red{
    color: red;
}
.flex{
  display: flex;
}
.margin-right-30{
  margin-right: 30px;
}
.bold {
    font-weight: bold;
}
.margin-top-20px{
  margin-top: 20px;
}
.margin-left-20px{
  margin-left: 20px;
}
.margin-right-20px{
  margin-right: 20px;
}
.hover-text-underline:hover{
  text-decoration: underline;
}
.no-text-decoration{
  text-decoration: none;
}
.position-absolute{
  position: absolute;
}
.green-btn{
    padding: 5px 25px;
    background-color: mediumseagreen;
    border-radius: 10px;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
}
.green-btn:hover{
    background: #1ae9aa;
}
.green-btn:focus{
    outline: none;
}
.display-flex{
  display: flex;
}