@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
* {
    box-sizing: border-box;
    margin: auto;
    padding: auto;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
}
h1{
    color: black;
}
header {
    max-width: 90%;
    display: flex;
    align-items: center;
    padding: 0 30px;    
    background-color: white;
}
  .header-nav-logo {
    margin: 0;
    display:flex;
    align-items: center;
    img{
        width: 50px;
    } 
  }
  .header-nav-logo:hover {
    opacity: 0.7;
  }
// texts here
div a, li a {
    color: black;
}
.display-block{
    display: block;
}
nav{
    display: flex;
    min-width: 520px;
    align-self: flex-end;
    margin-left: 0px;
    flex-grow: 3;
}
.nav__links {
    list-style: none;
    margin: 0;
    align-self: flex-start;
}
.nav__links li,  {
    display: inline-block;
    padding: 0px 20px;
}
.nav__links li a {
    transition: all 0.3s ease 0s;
    color: black;
}
.nav__links li a:hover {
    color: #0088a9
}

.tail {
    margin: 0;
}

.button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.button:hover {
    background-color: rgba(0,136,169,0.8);
}

#signup {
    margin-left: 20px;
}

.chunk1 {
    margin: 0 120px;
    background-color:#F2FFF2;
    text-align:center;
    display: flex;
}

.left {
    width: 50%;
    height: 100%;
    display: inline-block;
}

.right{
    width: 50%;
    height: 100%;
    display: inline-block;
}
.chunk1-img{
    max-width: 100%;
    max-height: 100%;
}
.vertical-flex{
    display: flex;
    flex-direction: column;
}
.heading1{
    margin: 20px 0;
    color: black;
    font-size: 32px;
    text-align: left;
    font-weight: bold;
}
.paragraph1{
    color: black;
    width: 350px;
    margin: 0;
    margin-bottom: 20px;
    text-align: left;

}
.hidable{
    display: none;
    position: absolute;
    left: -1px;
    font-size: 14px;
    white-space: nowrap;
    background: #fff;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
}

.hidable:hover{
    display: block;
}
.disclosure{
    color: green;
    align-self: flex-start;
}