  @import url('https://fonts.googleapis.com/css?family=Montserrat:500');
  * {
      box-sizing: border-box;
      margin: auto;
      padding: auto;
    }
  .header-nav-logo {
    margin: 0;
    display:flex;
    align-items: center;
    img{
        width: 50px;
    } 
  }

    li, a, .button {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 16px;
        color: #edf0f1;
        text-decoration: none;
    }
// texts here
div a, li a,{
    color: black;
}
.display-block{
    display: block;
}
    
header {
    max-width: 90%;
    display: flex;
    align-items: center;
    padding: 0 30px;    
    background-color: white;
}
.logo {
    cursor: pointer;
    margin-right: auto;
}

nav{

    display: flex;
    min-width: 700px;
    align-self: flex-end;
    margin-left: 0px;
    flex-grow: 3;
}

.nav__links {
    list-style: none;
    margin: 0;
    align-self: flex-start;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
    color: black;
}

.nav__links li a:hover {
    color: #0088a9
}

.tail {
    margin: 0;
}
.button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.button:hover {
    background-color: rgba(0,136,169,0.8);
}

#signup {
    margin-left: 20px;
}

.chunk1 {
    margin: 0 120px;
    height:400px;
    background-color:#F2FFF2;
    text-align:center;
    line-height:400px;
}
